# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
/coverage
web/cypress/videos
web/cypress/screenshots

# production
build
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

*.iml
java/.gradle
java/.idea/caches
java/.idea/libraries
java/.idea/modules.xml
java/.idea/workspace.xml
java/.idea/navEditor.xml
java/.idea/assetWizardSettings.xml
java/build
java/captures
.externalNativeBuild
.cxx
local.properties
